body {
  background-color: cornsilk;

}
.am {
  margin: 12px;
  border: 6px solid salmon;
  padding: 4px;
  background-color: cornsilk;
  width: 1024; height: 720;
  }
  h1 {
    text-align: center;
    color: teal;
  }
