.top {
  text-align: center;
  color: teal;
}
.jumbotron {
  background-color: cornsilk;
}
body {
  background-color: whitesmoke;
}

.expl {
  color: gray;
}
.programs {
color: salmon;
}

.special {
  color: teal;
}

.am {
  .my-class {
    margin: 12px;
    border: 2px solid green;
    padding: 4px;
    background-color: orange;
  }
}