.top {
  text-align: center;
  color: teal;
  font-family: "Lucida Console", Courier, monospace;
}
.jumbotron {
  background-color: cornsilk;
}
body {
  background-color: whitesmoke;
}

.expl {
  color: gray;
}
.programs {
color: salmon;
}

.special {
  color: teal;
}

.am {
  margin: 12px;
  border: 6px solid salmon;
  padding: 4px;
  background-color: cornsilk;
  }

  .am em {
    font-family: "Lucida Console", Courier, monospace;
  }

  .story {
    color: teal;
  }
  
  .photo {
    float: left;
  }

  .apple {
    text-align: center;
  }
  .apple h1 {
    color: teal;
    font-family: "Lucida Console", Courier, monospace;
  }

  .apple p {
    color: salmon;
  }

  .sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgb(230, 223, 198); 
    overflow-x: hidden; 
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(6, 114, 114);
    display: block;
